@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::selection {
		color: #161616;
		background-color: #f0f0f0;
	}

	::moz-selection {
		color: #161616;
		background-color: #f0f0f0;
	}
}

@layer utilities {
	.card-wrapper {
		@apply relative mt-8 md:mt-14 block mx-auto bg-purple-950 rounded-2xl overflow-hidden;
	}

	.card-wrapper::before {
		background: conic-gradient(#271237 0deg, #6f349d 0deg, transparent 80deg);

		@apply absolute h-[200%] lg:h-[350%] w-[200%] -left-1/2 -top-1/2 lg:-top-[120%] content-[''] animate-border-spin;
	}

	.card-content {
		@apply absolute w-[calc(100%-4px)] h-[calc(100%-4px)] top-[2px] left-[2px] right-[2px] bg-purple-950 rounded-2xl px-8 py-4 md:py-0;
	}
}
